# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Banco SQLite
*.db
*.sqlite3

# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente
.env

# VSCode
.vscode/
!.vscode/settings.json

# React
node_modules/
dist/

# Logs
*.log

# Sistema
Thumbs.db
.DS_Store